<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~  contributor license agreements.  See the NOTICE file distributed with
  ~  this work for additional information regarding copyright ownership.
  ~  The ASF licenses this file to You under the Apache License, Version 2.0
  ~  (the "License"); you may not use this file except in compliance with
  ~  the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Credit Card Validation</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
    <h1>Credit Card Validation</h1>
    <form class="form" th:action="@{/credit-card-validation}" method="post">
        <label for="creditCardNumber">Credit Card Number:</label>
        <input type="text" id="creditCardNumber" name="creditCardNumber" required /><br /><br />

        <input type="submit" value="Submit" />
    </form>
    <div th:if="${successMessage}" th:text="${successMessage}" class="success-message"></div>
    <div th:if="${errorMessage}" th:text="${errorMessage}" class="error-message"></div>
</div>
</body>
</html>
